[Unit]
Description=Run ddns_updater script every 5 minutes
After=network-online.target

[Timer]
OnCalendar=*:0/5:00
RandomizedDelaySec=30
Persistent=true
Unit=ddns-updater.service

[Install]
WantedBy=timers.target
