[Unit]
Description=Run ddns_updater script
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ddns-updater
WorkingDirectory=/usr/local/share/ddns-updater
Environment="PATH=/usr/local/share/ddns-updater/venv/bin:/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
