[Unit]
Description=Run ddns_updater script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/ddns_updater/main.py
WorkingDirectory=%h/.local/share/ddns_updater

[Install]
WantedBy=default.target